<% content_for :title do %>Reading - Danny Smith<% end %>
<% content_for :styles do %>
  <link rel="stylesheet" href="/css/pages/reading.css">
<% end %>

<%= erb :'partials/_back_arrow' %>

<h1 class="fadeInRight animated">Reading</h1>

<p class="intro">I read a lot of articles. Mostly tech, but not always. This list is updated whenever I recommend an article on <a href="https://medium.com/@dannysmith">Medium</a> or archive an article&nbsp;in&nbsp;<a href="https://getpocket.com/@dannysmith">Pocket</a>.</p>

<% unless @links.nil? || @links.size < 1 %>
  <ul class="fadeInLeft animated">
    <% @links.each do |link| %>
    <li>
      <% if link.is_a? DannyIs::MediumRecommendation %>
        <span class="link-medium">
          <a href="<%= h link.url %>"><%= h link.title %></a>
          <span class="tag">medium</span>
        </span>
      <% else %>
        <span class="link-pocket">
          <a href="<%= h link.url %>"><%= h link.title %></a>
          <span class="tag">pocket</span>
        </span>
      <% end %>
    </li>
    <% end %>
  </ul>
<% end %>
